@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Overpass", sans-serif;
}

/* Remove underline on A elements */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

h2 {
  font-size: 1.8rem;
  color: #1f3f5b;
}

h3 {
  font-size: 1.6rem;
  color: #1f3f5b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  padding: 40px 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#ff8f70, #ff3d54), url(/images/bg-pattern-intro.svg);
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 80vh;
  padding: 40px 30px 60px;
  font-family: "Overpass", sans-serif;
  text-align: center;
  border-bottom-left-radius: 100px;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 50px;
}
header p {
  font-weight: 400;
  padding: 15px 0;
}
header .btn-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 40px 0;
}
header .btn-control button:first-of-type {
  flex: 0 0 48%;
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid #ff7a85;
  background: white;
  color: #ff7a85;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
header .btn-control button:first-of-type:hover {
  background: #ff7a85;
  color: white;
}
header .btn-control button:last-of-type {
  flex: 0 0 48%;
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
header .btn-control button:last-of-type:hover {
  background: white;
  color: transparent;
}

.future {
  text-align: center;
  margin: 50px 0;
  position: relative;
}
.future img {
  margin: 50px 0;
  width: 110%;
  transform: scale(1.15);
}
.future article {
  padding: 0 30px;
}
.future article h3 {
  padding: 20px 0;
}
.future article p {
  color: #4b5862;
  line-height: 1.6;
}
.future article:last-of-type {
  margin-top: 10px;
}

.art {
  margin-top: 200px;
  background-color: #3f4164;
  background-image: url(/images/bg-pattern-circles.svg);
  background-position: top -220px;
  background-size: 180%;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-clip: padding-box;
}
.art .circle {
  background-color: rgba(69, 71, 110, 0.712);
  width: 90%;
  height: 60%;
  border-radius: 100%;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translate(-50%);
}
.art img {
  margin-top: -200px;
  position: relative;
  z-index: 5;
}

/*# sourceMappingURL=style.css.map */
