.art {
  margin-top: 200px;
  background-color: hsl(237, 23%, 32%);
  background-image: url(/images/bg-pattern-circles.svg);
  background-position: top -220px;
  background-size: 180%;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-clip: padding-box;

  .circle {
    background-color: hsla(237, 23%, 35%, 0.712);
    width: 90%;
    height: 60%;
    border-radius: 100%;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translate(-50%);
  }

  img {
    margin-top: -200px;
    position: relative;
    z-index: 5;
  }
}
