.art {
  @include flex(flex-start, center, column);
  margin-top: 200px;
  background-color: hsl(237, 30%, 46%);
  background-image: url(/images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: center -230px;
  background-size: 160%;
  height: 90vh;

  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  color: $GrayishBlue;
  text-align: center;

  h3 {
    color: #fff;
    font-size: 2.2rem;
    padding-bottom: 20px;
  }
  p {
    font-size: 1.2rem;
  }

  .circle {
    background-color: hsla(237, 23%, 35%, 0.712);
    width: 90%;
    height: 60%;
    border-radius: 100%;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translate(-50%);
  }

  img {
    margin-top: -200px;
    position: relative;
    z-index: 5;
  }
}
