.future {
  text-align: center;
  margin: 50px 0;
  position: relative;

  img {
    margin: 50px 0;
    width: 110%;
    transform: scale(1.15);
  }
  article {
    padding: 0 30px;
    h3 {
      padding: 20px 0;
    }
    p {
      color: $DarkGrayishBlue;
      line-height: 1.6;
    }
  }
  article:last-of-type {
    margin-top: 10px;
  }
}
